
{% extends 'BseCandidatureBundle::layout.html.twig' %}

{% block subTitle %}Procèdure de candidature{% endblock %}

{% block content %}	
<style tyle="text/css">
	#page-title{
		display:none;
	}
</style>
<div class="row">	
	<div class="col-xs-12">
		<div class="content" style="margin:0 10%;">			
			<section id="vArabe"></section>
			<div>
			<br/>
			<p>&nbsp;</p>
			<center><h3>الترشح لمسالك الماستر</h3></center>
			<p style="text-align: center;">المراحل والإجراءات</p>
			<p style="text-align: center;">( <a href="#vFrancaise">النسخة الفرنسية</a> )</p>
			{# ----------------------------------------------------------- #}
			{# ---------------------- BEGIN : content -------------------- #}
			{# ----------------------------------------------------------- #}			
			<p>&nbsp;</p>
			<p>تمر عملية الترشح لاجتياز مباريات مسالك الماستر عبر مرحلتين:</p>
			<p>&nbsp;</p>
			<p><strong><u>المرحلة الأولى،</u></strong> تقديم الترشيح عبر الموقع الإلكتروني ويستلزم الإجراءات التالية:</p>
			<p>&nbsp;</p>
			<p>- تعبئة طلب الترشح عبر الموقع الإلكتروني، ويطلب من المترشح تقديم معلومات تتعلق بهويته ومساره الجامعي. تعتبر هذه العملية إلزامية ويجب أن تتم بإتقان.</p>
			<p>&nbsp;</p>
			<p>- في نهاية هذه العملية يحصل الطالب على رقم ملفه و كلمته السرية، و يجب عليه حفظهما لاستعمالهما لاحقا. يمكن للطالب أن يوقف عملية التعبئة في أية لحظة ويستأنفها متى شاء.</p>
			<p>- بعد الانتهاء من هذه العملية، يمكن التحقق من المعلومات التي تمت تعبئتها إلكترونيا عبر تحميل الوثيقة (<em>PDF</em>) المقدمة لهذا الغرض والتي تتضمن ملخصا لهذه المعلومات، مما يتيح إمكانية تعديلها إذا اقتضى الأمر ذلك. كل المعلومات المعبأة تستعمل لتقييم ترشح الطالب لذلك يجب الحرص على تدقيق محتواها.</p>
			<p>&nbsp;</p>
			<p><strong><u>المرحلة الثانية،</u></strong> إيداع ملف الترشيح شخصيا لدى إدارة الكلية في أجل لا يتعدى 20 نونبر 2014 ويجب أن يتضمن الوثائق التالية:</p>
			<ul>
			<li>صورة حديثة للمترشح،</li>
			<li>نسخة من شهادة الباكلوريا مصادق عليها،</li>
			<li>نسخة من شهادة الإجازة أو مايعادلها مصادق عليها ،</li>
			<li>نسخ من كشوف النقط لسنوات الإجازة مصادق عليها،</li>
			<li>نسخة من البطاقة الوطنية مصادق عليها،</li>
			</ul>
			<p>هذه الوثائق يجب أن توضع داخل ظرف كبير من حجم A4 يكتب فوقه إسم الطالب ورقم ملفه الذي حصل عليه عبر الترشيح الإلكتروني ورقم بطاقته الوطنية.</p>
			<p><strong>&nbsp;</strong></p>			
			<p><strong>هام جدا:</strong></p>
			<p>كل من ثبت في حقه تزييف على مستوى المعلومات المقدمة عبر الموقع الإلكتروني يحذف اسمه من لائحة المترشحين.</p>
			</div>
			{# --------------------------------------------------------- #}
			{# ---------------------- END : content -------------------- #}
			{# --------------------------------------------------------- #}

			<section id="vFrancaise"></section>
			<div style="direction:ltr">
			<p>&nbsp;</p><br/>
			<center><h3>PROCEDURE DE CANDIDATURE</h3></center>
			<p style="text-align: center;">Pour les fili&egrave;res Master</p>
			<p style="text-align:center;">( <a href="#vArabe">Version arabe</a> )</p>
			{# ----------------------------------------------------------- #}
			{# ---------------------- BEGIN : content -------------------- #}
			{# ----------------------------------------------------------- #}			
			<p>&nbsp;</p>
			<p>La proc&eacute;dure de candidature en ligne est obligatoire pour compl&eacute;ter votre candidature aux fili&egrave;res <em>Master</em> de l&rsquo;universit&eacute; Ibn Tofail.</p>
			<p>La proc&eacute;dure se d&eacute;roule sur plusieurs &eacute;tapes durant lesquelles vous aurez &agrave; fournir des informations concernant votre identit&eacute; et votre cursus sup&eacute;rieur. Il est tr&egrave;s important de les <strong>renseigner le plus soigneusement possible</strong>.</p>
			<p>Lors de cette proc&eacute;dure le syst&egrave;me vous fournira un num&eacute;ro de dossier et un mot de passe que vous devez noter soigneusement pour des usages ult&eacute;rieurs. La proc&eacute;dure d&rsquo;inscription en ligne peut &ecirc;tre arr&ecirc;t&eacute;e et reprise &agrave; tout moment.</p>
			<p>Apr&egrave;s la validation de votre candidature, le syst&egrave;me g&eacute;n&egrave;re un document <em>pdf</em> (<strong>&agrave; t&eacute;l&eacute;charger</strong>) qui r&eacute;capitule toutes les informations saisies afin de les v&eacute;rifier et &eacute;ventuellement les modifier.</p>
			<p><strong>Toutes les informations saisies seront utiles</strong> pour l&rsquo;&eacute;valuation de votre candidature, aussi prenez beaucoup de soin pour les renseigner.</p>
			<p>Pour compl&eacute;ter votre proc&eacute;dure de candidature, il est obligatoire de d&eacute;poser personnellement &agrave; l&rsquo;administration de la facult&eacute;, dans les d&eacute;lais (<strong>avant le 20 Novembre 2014</strong>), les pi&egrave;ces justificatives de vos dipl&ocirc;mes et relev&eacute;s de notes en <strong>pr&eacute;cisant le num&eacute;ro de dossier fourni par le syst&egrave;me et le CNE </strong>sur les enveloppes. <strong>Il sera exig&eacute; un dossier par candidature</strong>.</p>
			<p>&nbsp;</p>
			<p><strong>TRES IMPORTANT&nbsp;:</strong></p>
			<p>Toute tricherie constat&eacute;e lors de la v&eacute;rification des informations saisies sur le syst&egrave;me avec les pi&egrave;ces justificatives, sera sanctionn&eacute;e par l&rsquo;&eacute;limination pure et simple de la candidature.</p>			
			<p><strong><u>&nbsp;</u></strong></p>
			<p><strong><u>Pi&egrave;ces justificatives &agrave; fournir&nbsp;:</u></strong></p>
			<ul>
			<li>Une photo d&rsquo;identit&eacute;</li>
			<li>Copie du bac</li>
			<li>Copie des dipl&ocirc;mes sup&eacute;rieurs</li>
			<li>Copie des relev&eacute;s de notes de chaque session</li>
			<li>Copie de la CIN</li>
			<li>Les pi&egrave;ces doivent &ecirc;tre plac&eacute;es dans une enveloppe (format A4)</li>
			</ul>
			</div>

			{# --------------------------------------------------------- #}
			{# ---------------------- BEGIN : actions ------------------ #}
			{# --------------------------------------------------------- #}
			<hr/>
			<div class="actions pull-right">
				<a href="{{ url('bse_candidature_welcome') }}"><button type="button" id="btnLogin" class="btn btn-normal btn-sm" style="color:#000">Annuler</button></a>
				<a href="{{ url('candidature_new', {"first": "first"}) }}"><button type="button" id="btnLogin" class="btn btn-success btn-sm">J'ai lu et J'accepte ces conditions</button></a>				
			</div>
			{# -------------------------------------------------------- #}
			{# ---------------------- END : actions ------------------- #}
			{# --------------------------------------------------------- #}
		</div>
	</div>		
</div>
<br/><br/><br/>
{% endblock %}